/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: #17161B;
  color: #FFF;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

img {
  flex-shrink: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  cursor: pointer;
  outline: none;
}

.header {
  grid-area: my-header;
}

.main {
  grid-area: my-main;
}

.aside {
  grid-area: my-aside;
}

.grid {
  display: grid;
  gap: 8rem 0;
  grid-template-areas: 
  "my-header my-header"
  "my-aside my-main"
  "my-aside my-main";
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-init {
  max-width: 144rem;
  margin: auto;
  padding: 3rem 2.4rem 4rem;
}

.header__wrap {
  align-items: center;
  display: flex;
}

.header__logo {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  margin-right: 7rem;
}

.header__nav {
  margin-right: 9.2rem;
}

.header__nav a {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.header__nav a:not(:last-child) {
  margin-right: 2rem;
}

.header__find {
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  width: 33rem;
  height: 4.1rem;
  border-radius: .8rem;
  margin-right: 3.9rem;
  padding: 0 1rem;
}

.header__find input {
  background: none;
  border-radius: .8rem;
  color: #FFF;
  cursor: text;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  height: 100%;
  width: 100%;
}

.header__find input::placeholder {
  color: #FFF;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
}

.header__find button {
  align-items: center;
  display: flex;
  background: none;
  justify-content: center;
}

.header__find button img {
  height: 2rem;
  width: 2rem;
}

.header__date {
  text-align: center;
  margin-right: 8.6rem;
}

.header__hours {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
}

.header__days {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.header__personal {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

/* сетка */ 
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

/* сетка */